################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.gitignore
/.vs
/Debug
/obj
*.pdb
*.ini
*.rtf
*.log
*.log
*.pgn
*.pgn
*.config
*.user
